<div class="container">
   <%= link_to "Back", :root %>
  </div>
<div class="box">
  <% @recipies.each do |recipie| %>
   <div class="test" >
      <%= link_to recipy_path(recipie) do %> 
          <img height= "100px" width= "120px" src= <%= recipie["smallImageUrls"][0] %>
          <hr>
   <p> <%= recipie.recipeName %> </p>     
  </div> 
     <% end %>
  <% end %> 
</div>






