@import "bootstrap"

.test 
  background-color: #A9F5BC
  border-radius: 2px
  float: right
  width: 230px  
  padding: 40px
  margin: 10px 
  height: 230px
 
.box
  padding-top: 20px
  padding-right: 200px
 

.images
  background-color: #A9F5BC
  border-radius: 2px
  float: right
  width: 200px  
  padding-top: 400px
  padding: 40px
  margin: 10px 
  height: 200px
    
.menu-bar
  padding-top: 130px
  padding-right: 300px
  padding-left: 500px
  

  .center-image
  padding: 0px 7000px 1px 300px
  background-color: #F0FFF0
  
  
  
.center-text 
  position: absolute
  color: black
  padding: 900px
    
.left-text
  padding-left: 230px
  padding-bottom: 10px
  padding-top: 10px
  
.background
  opacity: 0.5
  
.avatar
  background-color: #A9F5BC
  
.jumbotron
  padding: 0px
  background-color: #A9F5BC


.h1
  text-color: #A9F5BC